venv/
linux/
dataset-classification/
dataset-classification-Copy/
dataset_split_classification/
backup-dataset_classification/
dataset-segmentation/
cleaned_dataset/
*.npy
*.keras
*.jpg
segmentation/__pycache__/*
segmentation/logs/*
#temp
training_tumor_segmentation.csv
segmentation/datasets
grouped_dataset/
dataset5_temp/
dataset_split_segmentation/
history/
remote_setup.sh
growth_prediction/longitudinal-model/dataset/*
growth_prediction/longitudinal-model/filtered_dataset/*
segmentation/dummy_mask.png
segmentation/dummy.png
segmentation/predicted_masks
growth_prediction/longitudinal-model/dataset
growth_prediction/longitudinal-model/model
growth_prediction/longitudinal-model/filtered_dataset
*__pycache__
*tests
visualize_100.py
